<div class="background">
    <div class="jll-login-register-body">
        <header>
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <a class="navbar-brand pull-right" href="#/login">Login</a>
                    <a class="navbar-brand pull-left" href="#/register">Register</a>
                </div>
            </nav>
        </header>


        <div class="jll-body-padded">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>SPORTSONALITY</h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <hr>

                <div class="row">
                    <div class="col-sm-8">
                        <h2>Personalizing Sports</h2>
                        <p>Show off your sports personality by customizing your profile of your favorite sports
                            teams!</p>
                        <p></p>
                        <p>
                            <a class="btn btn-success btn-lg jll-center-text" href="#/login">Register or Login
                                &raquo;</a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <a class="btn btn-block btn-lg btn-warning btn-default" href="#/teams">Explore Teams &raquo;</a>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa fa-book fa-5x jll-center-text" aria-hidden="true"></i>
                        <h3 class="jll-center-text">Search Capabilities</h3>
                        <p>Football, Baseball, Basketball, and Hockey!
                            Pick your favorite teams from each sport and tie them to your profile!</p>

                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-list-alt fa-5x jll-center-text" aria-hidden="true"></i>
                        <h3 class="jll-center-text">Rosters</h3>
                        <p>Stay up to date with current rosters for the season in each sport</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa fa-clock-o fa-5x jll-center-text" aria-hidden="true"></i>
                        <h3 class="jll-center-text">Standings</h3>
                        <p>Keep track of how your teams are doing with up to date rankings</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>