<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a ng-click="model.updateUser()">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </a>
            <a class="navbar-brand">Profile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <a ng-click="model.updateUser()">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </a>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->

</nav>

<div class="container-fluid">

    <div ng-show="model.success"
         class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
    <label for="username">Username</label>
    <input ng-model="model.user.username"
           readonly
           name="username"
           value="RBobby99"
           class="form-control"
           id="username"
    />

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           name="email"
           placeholder="RickyBobby@gmail.com"
           class="form-control"
           type="email"
           id="email"
    />

    <label for="firstName">First Name</label>
    <input ng-model="model.user.firstName"
           name="firstName"
           placeholder="Ricky"
           class="form-control"
           id="firstName"
    />

    <label for="lastName">Last Name</label>
    <input ng-model="model.user.lastName"
           name="lastName"
           placeholder="Bobby"
           class="form-control"
           id="lastName"
    />

    <a class="btn btn-default btn-primary btn-block"
       href="#/user/{{model.user._id}}/website"
       role="button">Websites</a>

    <a class="btn btn-default btn-danger btn-block"
       href="#/login"
       role="button">Logout</a>

    <a  ng-click="model.unRegister()"
        class="btn btn-default btn-danger btn-block"
        role="button">Unregister</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.user._id}}">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right">
                <a href="#/user/{{model.user._id}}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                </a>
            </ul>
        </div>
    </div>
</nav>