<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">Pages</a>
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </a>
            <a href="#/user/{{model.uid}}/website">
                <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </a>
            </ul>
            <ul class="nav navbar-nav navbar-left" id="bs-example-navbar-collapse-2">
                <a href="#/user/{{model.uid}}/website">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </button>
                </a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="broski">
    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="page in model.pages"
                class="list-group-item">
                <a href="#/user/{{model.uid}}/website/{{page.websiteId}}/page/{{page._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
                <a href="#/user/{{model.uid}}/website/{{page.websiteId}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="#/user/{{model.uid}}">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right">
                <a href="#/user/{{model.uid}}">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </button>
                </a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>